* {
  box-sizing:border-box;
}

body{
  background-color: beige;
  width: 80%;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 40px;
  color: orangered;
  font-weight: 500;
  margin: 2rem 0 2rem 0;
}

section {
  background-color: rgba(231, 221, 83, 0.589);
  margin-bottom: 1rem;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10%;
}

img{
  width:30%;
  height: 80%;
  border-left: 1px solid orange;
  border-radius: 25px;
  margin: 10px auto 1px auto;
}

aside{
  background-color: rgb(111, 0, 255);
  width: fit-content;
  color: rgb(223, 218, 211);
  font-size: 20px;
  padding: 10px;
  margin: 3rem;
}

.clicksAllowed{
  width:fit-content;
  padding:10px;
  border: 1px solid black;
  color:rgba(238, 10, 10, 0.884);
  background-color: rgb(240, 236, 233);
  font-size: 50px;
  cursor: pointer;
  text-align: center;
}

.noVoting{
  background-color: gray;
  filter:opacity(50%);
}

ul{
  list-style-type: disc;
  font-size: 20px;
  margin-left: 5rem;
  width: 50%;
  display: block;
}

li{
  margin:10px;
}

div{
  padding: 20px;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 5rem;
}



